/*!
  CSS file for Practice using FLexbox and Scss
  Syntax: .scss
  Created by: Usman Adil
  Date: 09/26/2017
*/

$font-stack:    Helvetica, sans-serif;
$brand-color: #f05f40;
$header-color: rgba(255,255,255,.7);
$row-padding: 100px 0;


@import 'mixins';
@import 'base';
@import 'header';

section.about {
  background: $brand-color;
  color: #fff;

  .about-content {
    padding: 0 10px;
    @include bp-medium {
      width: 70%;
      margin: 0 auto; 
    }
  }
}

section.services {
  .services-container {
    > div { 
      margin-top: 40px;
    }
  }
}
.services-container {

  @include bp-small {
    @include flex;
    flex-wrap: wrap;
    > div {
      flex-basis: 50%;
    }
  }

  @include bp-large {
    > div {
      flex-basis: 25%;
    }
  }

  i {
    color: $brand-color;
  }

  p {
    color: #868e96!important;
  }
}


section.portfolio {

  @include bp-small {
    @include flex;
    flex-wrap: wrap;
    > div {
      flex-basis: 50%;
    }
  }

  @include bp-medium {
    > div {
      flex-basis: 33.33%;
    }
  }
  
  img {
    width: 100%;
    display: block;
  }

}

  // Section Download
section.download {
  background: #222;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-weight: normal;
}


  // Section Contact
.contact-content {
  @include bp-medium {
    width: 65%;
    margin: 0 auto;

    > div {
      @include flex;
      justify-content: space-around;
    }

  }
}
